
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutStart.cshtml";
}


<div class="flexslider">
	<ul class="slides">
		<li>
			<a href="/man">

				<img src="~/Content/Images/slide1.jpg" />
				<span class="gradient hidden-xs hidden-sm"></span>
			</a>
			<div class="text hidden-xs">
				<h3>Мужские кроссовки</h3>
				<p>
					Choose from our wide selection of women's
					clothes, heels, ballets, flip flops, casual shirts,
					shrugs, jackets & many more.
				</p>
				<a href="/man">Перейти</a>
			</div>
		</li>
		<li>
			<a href="/woman">
				<img src="~/Content/Images/slide2.jpg" />
				<span class="gradient hidden-xs hidden-sm"></span>
			</a>
			<div class="text hidden-xs">
				<h3>Женские кроссовки</h3>
				<p>
					Choose from our wide selection of women's
					clothes, heels, ballets, flip flops, casual shirts,
					shrugs, jackets & many more.
				</p>
				<a href="/woman">Перейти</a>
			</div>
		</li>
		<li>
			<a href="/child">
				<img src="~/Content/Images/slide3.jpg" />
				<span class="gradient hidden-xs hidden-sm"></span>
			</a>
			<div class="text hidden-xs">
				<h3>Детские кроссовки</h3>
				<p>
					Choose from our wide selection of women's
					clothes, heels, ballets, flip flops, casual shirts,
					shrugs, jackets & many more.
				</p>
				<a href="/child">Перейти</a>
			</div>
		</li>
	</ul>
</div>