
<link href="~/Content/css/slider.css" rel="stylesheet" />

<div class='sliderA'>
	<input type="radio" name="slider2" id="slider2_1" checked="checked">
	<label for="slider2_1"></label>
	<div>
		<p>Восход над островом</p>
		<img src='https://lh3.googleusercontent.com/-XGgw41OSARk/VePicTdAdgI/AAAAAAAAAS4/WeBbxp4ebQg/s400-Ic42/00099_manaisland_1920x1200.jpg' alt=''>
	</div>
	<label for="slider2_2"></label>

	<input type="radio" name="slider2" id="slider2_2">
	<label for="slider2_2"></label>
	<div>
		<p>Озёрный край</p>
		<img src='https://lh3.googleusercontent.com/-aafAKIoTkT4/VePihWk2BHI/AAAAAAAAATA/zQVtiYD_eDc/s400-Ic42/00201_lakejipe_1920x1200.jpg' alt=''>
	</div>
	<label for="slider2_3"></label>

	<input type="radio" name="slider2" id="slider2_3">
	<label for="slider2_3"></label>
	<div>
		<p>Закатная синева</p>
		<img src='https://lh3.googleusercontent.com/-ikbDMRhLc_I/VePkT4XLFtI/AAAAAAAAATg/qaHqQk89RAw/s400-Ic42/00744_laclahachesunset_1920x1200.jpg' alt=''>
	</div>
	<label for="slider2_4"></label>

	<input type="radio" name="slider2" id="slider2_4">
	<label for="slider2_4"></label>
	<div>
		<p>Сельский пейзаж</p>
		<img src='https://lh3.googleusercontent.com/-BLXeHJNyOqw/VePimp_e_wI/AAAAAAAAATQ/BVw_9LFehyU/s400-Ic42/00442_pyrenees_1920x1200.jpg' alt=''>
	</div>
	<label for="slider2_1"></label>
</div>